<!-- <img src="pics/CFDS.png" width=75px>-->
<img src="../pics/DVFA-Akademie_Logo_800px.jpg" width=300px>
<br>
    <p style="color:#0E1E5E">
    <b>
        <font size="6">CFDS® – Chartered Financial Data Scientist</font>
        <br><br>
        <font size="8">Introduction to Python</font>
    </b>
<br><br>
<b>
    <font size="5"> 
        Prof. Dr. Natalie Packham <br><br>
    </font>
</b>
</p>

# Exercises on basics in Python

__Exercise 1.__   Let name = 'John Smith'. What are (explain!) 

* `name[1]`,
* `name[-2]`,
* `name[1:-1]`?

How do you refer to all letters except the first one?

__Solution.__

In [2]:
name = 'John Smith'
name[1]

'o'

In [3]:
name[-2]

't'

In [4]:
name[1:-1]

'ohn Smit'

Indices start at 0, so 1 is second character. −1 is last character and −2 is second-to-last. `[1 : −1]` refers to indices 1 through −1 excluding −1.

In [5]:
name[1:]

'ohn Smith'

__Exercise 2.__   If `x=1`, what is the value of x after executing `x+=2`? Explain!

__Solution.__

In [6]:
10 == '10'

False

The left-hand side is an integer, the right-hand side is a string.

__Exercise 3.__ What is the result of `'bag' > 'apple'`? Explain!

In [7]:
'bag' > 'apple'

True

String comparison follows a lexiographic order. Bag comes after apple in an encyclopedia.

__Exercise 4.__ Write a function that returns the maximum of two numbers.

In [8]:
def maximum(x,y):
    if x > y: 
        return x
    else:
        return y

In [9]:
maximum(3,2)

3

In [10]:
maximum(-1,6)

6

In [11]:
maximum(3.5, 4)

4

__Exercise 5.__ Exercise 10. Write a function that takes one integer parameter and returns all prime numbers between 1 and the given argument (the value passed as the parameter).

  An efficient method is the "Sieve of Eratothenes", which iterates
  over all numbers between $2$ and $\sqrt{x}$ crossing out all _multiples_ of these numbers in the range $[2,x]$.

In [12]:
def primes(x):
    p=list(range(2,x+1))  
    for i in range(2,(int(x**0.5)+1)):
        j=2*i
        while(j<=x):
            if(j in p):
                p.remove(j)
            j=j+i
    return p

In [13]:
primes(80)

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79]